body {
    font-family: "Inter", "Roboto", "Helvetica", "Arial", sans-serif;
    margin: 0;
    transition: background-color 0.3s ease;
}

#event-form {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 2%;
    margin: 0 0 10px 0;
}

#event-form > div {
    flex-basis: 100%;
}

#event-form > div.half {
    flex-basis: 46%;
}


input[type="date"]:focus::-webkit-datetime-edit-year-field,
input[type="date"]:focus::-webkit-datetime-edit-month-field,
input[type="date"]:focus::-webkit-datetime-edit-day-field,
input[type="date"]:focus::-webkit-datetime-edit-text {
    color: inherit;
}

/* Table cell styles */
.monospace {
    font-family: monospace;
}

.amount-with-due {
    cursor: help;
    font-family: monospace;
    text-decoration: underline;
    text-decoration-style: dotted;
}

